/* work sans fonts */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* universal style */
* {
    font-family: 'Work Sans', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: black;
}

:root {
    --og: rgba(14, 144, 255, 0.05);
    --og-deep: #0088ff;
    /* --og: rgba(255, 144, 14, 0.10); */
    /* --og-deep:#FF900E; */
    --og-font: #424242;
    --og-font-dark: #131313;

}

/* main styles */
.bg-color {
    background-color: var(--og);
    padding: 2.6vw;
}

.primary-btn {
    width: 9.4vw;
    height: 3.3vw;
    border: 0;
    border-radius: 8px;
    background-color: var(--og-deep);
    color: #FFF;
    font-size: 15px;
    font-weight: 600;

}


/* header styles */
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 76.25vw;
    margin: auto;
    padding-bottom: 5.2vw;
}

.header-title {
    font-size: 45px;
    font-weight: 700;
    color: var(--og-font-dark);
}

/* nav styles */
.nav>ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5.2vw;
}

.nav>ul>li {
    list-style: none;
    color: var(--og-font);
    font-size: 20px;
    font-weight: 500;
}




/* banner styles */
.banner-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.banner-content {
    width: 45vw;
    text-align: center;
}

.banner-content>* {
    margin-bottom: 2.6vw;
}

.banner-title {
    font-weight: 700;
    font-size: 64px;
    color: var(--og-font-dark);
}

.banner-describe {
    width: 45.2vw;
    color: var(--og-font);
    line-height: 1.6;
}

.banner-img {
    width: 75vw;
}

.banner-img>img {
    width: 100%;
}

/* feature styles */
.feature {
    width: 69vw;
    margin: 5.3vw auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 3.8vw;
}

.feature-view {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 1.25vw;
}

.feature-img {
    width: 18vw;
    height: 18vw;
    border-radius: 8px;
}

.feature-img img {
    width: 100%;
}

.feature-title {
    font-size: 45px;
    font-weight: 700;
    color: var(--og-font-dark);
}

.feature-title .grey {
    color: var(--og-font);
    font-weight: 500;
}

.feature-title .orange {
    color: var(--og-deep);
}

.feature-describe {
    color: var(--og-font);
    line-height: 1.6;
}

.feature-content * {
    margin-bottom: 1.6vw;
}

/* feature-card styles */
.feature-card {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7.6vw;
    width: 75vw;
    margin: 0 auto;
}

.feature-card-img {
    width: 37.5vw;
    height: 53vw;
    border-radius: 8px;
}

.feature-card-img img {
    width: 100%;
}

.feature-card .card {
    width: 30.5vw;
    height: 9vw;
    padding: 1.56vw;
    border-radius: 8px;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
    margin: 1.2vw auto;
    overflow: auto;
}

.feature-card .card .card-title {
    color: var(--og-font-dark);
    font-weight: 600;
    font-size: 20px;
    padding-bottom: .5vw;
}

.feature-card .card .card-describe {
    line-height: 1.6rem;
    color: var(--og-font);

}

.feature-card-title {
    color: var(--og-font-dark);
    font-weight: 700;
    font-size: 45px;
    border-left: 5px solid var(--og-deep);
    padding-left: 1.1vw;
}

.feature-card-describe {
    color: var(--og-font);
    line-height: 1.6rem;
    padding-top: 1.25vw;
}

.feature-card-view {
    position: relative;
}

.feature-card-btn {
    width: 20vw;
    height: 12vw;
    border-radius: 8px;
    background-color: var(--og-deep);
    color: #FFF;
    border: 0;
    position: absolute;
    transform: translate(-5vw, -9vw);
    color: #FFF;
    font-weight: 500;
    font-size: 20px;
    line-height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.feature-card-btn span {
    font-weight: 700;
    font-size: 55px;
}

/* fact styles */
.fact {
    width: 75vw;
    margin: 6.7vw auto;
}

.fact-card {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 6.5vw;
    text-align: center;
}

.fact-title {
    font-size: 45px;
    color: var(--og-font-dark);
    font-weight: 700;
    margin-bottom: 1.25vw;
}

.fact-describe {
    color: var(--og-font);
    line-height: 1.6rem;
    width: 28.3vw;
    margin-bottom: 5.2vw;
}

.fact-card .card {
    border-radius: 8px;
    border: 1px solid var(--og-deep);
    width: 14vw;
    height: 14vw;
    vertical-align: middle;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    gap: 0.5vw;
}

.fact-card .card img {
    width: 2.4vw;
    height: 2.4vw;
}

.fact-card .card h3 {
    color: var(--og-font);
    font-size: 45px;
}

.fact-card .card p {
    color: var(--og-font);
    font-size: 20px;
}



/* sponsor styles */
.sponsor {
    width: 75vw;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 2.6vw;
}

.sponsor-title {
    font-size: 45px;
    font-weight: 700;
    color: var(--og-font-dark);
    margin-bottom: 1.5vw;
}

.sponsor-describe {
    width: 28.5vw;
    color: var(--og-font);
    line-height: 1.6rem;
}

.sponsor-view {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8.1vw;
}

.sponsor-img {
    width: 8vw;
    height: 2.7vw;
}

.sponsor-img img {
    width: 100%;
}



/* footer styles */
.footer {
    width: 75vw;
    height: 5.5vw;
    margin: 6.5vw auto;
    font-size: 20px;
    color: var(--og-font);
    background-color: var(--og);
    padding: 2vw 12vw;
    text-align: center;
}




/* social styles */

.social {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3vw;
    margin-bottom: 5vw;
}

.social img {
    width: 3vw;
}



/* media query */

@media only screen and (max-width: 640px) {
    .header-container {
        width: 96vw;
        flex-direction: column;
        gap: 2vw;
    }

    .header-title{
        font-size: 64px;
    }
    .nav>ul {
        gap: 10vw;
    }

    .nav>ul>li {
        font-size: 16px;
    }
    

    .banner-content {
        width: 90vw;
    }

    .banner-describe {
        width: 80vw;
        margin: 10px auto;
    }

    .primary-btn {
        width: max-content;
        height: max-content;
        padding: 2%;
    }

    .feature {
        flex-direction: column-reverse;
        width: 95vw;
    }

    .feature-view {
        grid-template-columns: repeat(4, 1fr);
        gap: 1vw;
    }

    .feature-img {
        width: 23vw;
        height: 23vw;
        border-radius: 8px;
    }


    .feature-card {
        flex-direction: column;
        width: 90vw;
    }

    .feature-card .card {
        width: 90vw;
        height: max-content;
    }

    .feature-card-img {
        width: 95vw;
        height: auto;
    }

    .feature-card-view{
        display: flex;
        position: static;
        flex-direction: column;
    }

    .feature-card-btn{
        position: static;
        display: block;
        transform: none;
        width: 90vw;
        height: max-content;
        text-align: center;
        margin: 0 auto;
        padding: 10px auto;;
    }
    .footer {
        font-size: 10px;
        height: max-content;
    }

    .fact {
        width: 90vw;
        height: max-content;
    }

    .fact-card {
        gap: 2vw;
        flex-direction: column;

    }

    .fact-card .card {
        width: 40vw;
        height: 40vw;
    }

    .fact-card .card img {
        width: 10vw;
        height: 10vw;
    }

    .fact-card .card h3 {
        font-size: 30px;
    }

    .fact-card .card p {
        font-size: 16px;
    }

    .fact-describe {
        width: 90vw;
        margin-bottom: 5.2vw;
    }

    .sponsor {
        width: 95vw;
    }

    .sponsor-view {
        flex-direction: column;
        gap: 20vw;
    }

    .sponsor-describe {
        width: 80vw;
    }

    .sponsor-img {
        width: 50vw;
        height: 15vw;
    }

    .social {
        gap: 10vw;
    }
    
    .social img {
        width: 30px;
    }
    
}



@media only screen and (min-width: 641px) and (max-width: 768px) {
    .header-container {
        width: 96vw;
    }

    .nav>ul {
        gap: 3vw;
    }

    .banner-content {
        width: 90vw;
    }

    .banner-describe {
        margin: 10px auto;
    }

    .primary-btn {
        width: max-content;
        height: max-content;
        padding: 2%;
    }

    .feature {
        width: 90vw;
    }

    .feature-card {
        flex-direction: column-reverse;
        width: 90vw;
    }

    .feature-card .card {
        width: 90vw;
        height: max-content;
    }

    .feature-card-view img {
        margin-left: 18vw;
    }

    .feature-card-btn {
        width: max-content;
        height: max-content;
        padding: 5%;
        transform: translate(-20vw, -35vw);
    }

    .footer {
        font-size: 10px;
    }

    .fact {
        width: 90vw;
    }

    .fact-card {
        gap: 2vw;

    }

    .fact-card .card {
        width: 20vw;
        height: 20vw;
    }

    .fact-card .card img {
        width: 4vw;
        height: 4vw;
    }

    .fact-card .card h3 {
        font-size: 30px;
    }

    .fact-card .card p {
        font-size: 16px;
    }

    .fact-describe {
        width: 90vw;
        margin-bottom: 5.2vw;
    }

    .sponsor {
        width: 95vw;
    }

    .sponsor-describe {
        width: 80vw;
    }

    .sponsor-img {
        width: 10vw;
        height: 3vw;
    }
}

@media screen and (min-width: 769px) and (max-width: 1279px) {
    .header-container {
        width: 90vw;
    }

    .banner-content {
        width: 90vw;
    }

    .banner-describe {
        margin: 10px auto;
    }

    .primary-btn {
        width: max-content;
        height: max-content;
        padding: 2%;
    }

    .feature {
        width: 90vw;
    }

    .feature-card {
        flex-direction: column-reverse;
        width: 90vw;
    }

    .feature-card .card {
        width: 90vw;
        height: max-content;
    }

    .feature-card-view img {
        margin-left: 12vw;
    }

    .feature-card-btn {
        width: max-content;
        height: max-content;
        padding: 5%;
        transform: translate(-15vw, -35vw);
    }

    .footer {
        font-size: 10px;
    }

    .fact {
        width: 90vw;
    }

    .fact-card {
        gap: 2vw;

    }

    .fact-card .card {
        width: 20vw;
        height: 20vw;
    }

    .fact-card .card img {
        width: 4vw;
        height: 4vw;
    }

    .fact-card .card h3 {
        font-size: 30px;
    }

    .fact-card .card p {
        font-size: 16px;
    }

    .fact-describe {
        width: 90vw;
        margin-bottom: 5.2vw;
    }

    .sponsor {
        width: 95vw;
    }

    .sponsor-describe {
        width: 80vw;
    }

    .sponsor-img {
        width: 10vw;
        height: 3vw;
    }

}